---
---

@import "{{ site.theme }}";

.page-header {
  padding: 2rem 1rem;
}

.columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.columns > * {
  flex: 1 0 20em;
  margin-left: 1em;
  margin-right: 1em;
}

